@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

    body {
        color: #303030;
        overflow-x: hidden;
    }
    /* ---------- Navbar ---------- */
    nav {
        padding: 5px 5vw;
        display: flex;
        justify-content: space-between;
        margin: 10px 7vw;
    }
    a {
        color: #303030;
        text-decoration: none;
    }
    .menu {
        list-style-type: none;
    }
    ul {
        padding: 0;
    }
    .title {
        padding: 7.5px 0 7.5px 0;
        flex: 1;
    }
    .item {
        padding: 10px;
    }
    nav a:hover{
        color: #ccc;
    }
     /* Mobile menu */
     .menu {
        display: flex;
        flex-wrap: wrap;
    }
    .menu li a {
        display: block;
        padding: 4px 5px;
    }
    .menu li span {
        display: block;
        padding: 2px 5px;
    }
    /*--------------Section 1 -------------> */

    .container{
        margin: 0 12vw;
    }
    
    .top-wrapper{
        margin: 15vw 0 450px 0;
    }

    .header h1{
        font-size: 50px;
        font-weight: 600;
        line-height: 64px;
    }
    .header p {
        font-size: 25px;
        font-weight: 300;
        line-height: 36px;
        color: #909090;
    }
    .header button{
        margin: 30px 0px;
        padding: 10px 28px;
        font-size: 18px;
        color: #19B0FF;
        border: 1px solid #19B0FF;
        background-color: #ffffff;
        border-radius: 8px;
        cursor: pointer;
    }
    .header button a{
        color: #19B0FF;
    }
    .header button img{
        float: left;
        width: 25px;
        color:  #19B0FF;
        margin-right: 10px;
    }
    figure img{
        position: absolute;
        top: 25%;
        left: 45%;
        width: 700px;
        z-index: -1;
    }
    /*--------------Section 2 Quote-------------> */

    .quote-wrapper{
        margin: 10vw 0 180px 0;
        text-align: center;
    }

    .quote-wrapper h2{
        font-size: 30px;
        font-weight: 400;
        font-family: 'Merriweather', serif;
    }

    .quote-wrapper p{
        font-family: 'Merriweather', serif;
        font-size: 18px;
        font-weight: 800;
        color: #909090;
        margin-top: 10px;
    }

/*--------------Section 3 Tasks -------------> */

    .shape-background{
        background: #BFE9FF;
        position: absolute;
        top: 1500px;
        left: -150px;        
        width: 2000px;
        height: 150px;
        transform: rotate(-170deg);
        z-index: -1;
        display: flex;
    }

    .content-wrapper{
        margin: 15vw 0;
    }

    .content-wrapper h2{
        margin: 50px 0;
        font-size: 48px;
        font-weight: 600;
    }

    .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card img{
        width: 100%;
    }

    .card {
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 4px rgba(80, 80, 80, 0.1);
        border-radius: 8px;
        transition: 0.3s;
        padding: 28px 28px;
        margin-bottom: 30px;
        width: 25%;
    }
    
    .card .model-content{
        text-align: center;
    }

    .card-content h3{
        font-weight: 600;
        font-size: 24px;
    }

    .card-content p:first-of-type{
        font-size: 16px;
        color: #909090;
    }

    .card-content p{
        font-size: 18px;
        color: #505050;
    }

    .card-content button{
        margin-top: 15px;
        padding: 8px 56px;
        background: #19B0FF;
        font-size: 18px;
        color: #FFFFFF;
        border: none;
        border-radius: 8px;
    }

    .card-content a{
        font-size: 14px;
        color: #1AB0FF;
        margin-left: 10px;
    }

    @media screen and (max-width: 960px) {
        .card{
            width: 50%;
        }
        .card-container{
            text-align: center;
        }

        .review-container .card .card-content{
            text-align: left;
        }

    }

/*----------- Footer ------*/

    footer .container{
        text-align: center;
        margin: 5vw 0;
    }

/*------------Profile------*/
.profile {
    width: 350px;
    height: 450px;
    background: #a9daf5;
    margin-top: 80px;
    margin: auto;
}
.profile tr td img {
    width: 120px;
    height: 150px;
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 33%;
}
.profile tr td h1 {
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: auto;
    margin-top: 3%;
    font-weight: bold;
}
.profile tr td h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: auto;
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: auto ;
}
.profile tr td p {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    margin-top: 18px;
    margin-bottom: 30px;
}
#p2 {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 60px;
}
