* {padding: 0; margin: 0;}
body {
    background-color: #a9daf5;
}
/* ini adalah bagian menu bar */
.navbar {
    float: left;
    background: lightgray;
    width: 100%;
    margin-bottom: 10px;
}

.navbar li {
    float: left;
    list-style: none;
}

.navbar li a{
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: bold;
}

.navbar li a:hover {
    background: #FFFFFF;
    color: #000000;
}

.center ul{
    
    width: fit-content;
    margin: auto;
}
/*ini adalah bagian judul header atas*/
.jdlatas {
    margin-top: 3px;
}
/*ini adalah bagian judul header dibawah header atas*/
.jdlbwh {
    margin-top: 2px;
    margin-bottom: 15px;
}
.satu {
    margin: auto;
    margin-top: 3px;
    width: fit-content;
}
.satuu {
    margin-left: 10px;
}
.dua {
    margin: auto;
    margin-top: 3px;
    width: fit-content;
}
.duaa {
    margin-left: 10px;
}
.button1 {
    margin-left: 46%;
    margin-top: 10px;
}
/*ini adalah bagian footer*/
.footer{
    background-color: lightgray;
    width: 100%  ;
    height: 56px;
    float: left;
    margin-top: 200%;
}
.ingataku {
    margin-top: 3px;
}
